@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap');

:root {
  /*primary colors*/
  --prim-green: #495e57;
  --prim-yellow: #f4ce14;

  /*secondary colors*/
  --sec-pink: #ee9972;
  --sec-light-pink: #fbdabb;

  /*hightlight colors*/
  --high-white: #edefee;
  --high-black: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 887px;
  max-width: 80%;
  margin: 0 auto;
}

button {
  padding: 0.75em 2em;
  background-color: var(--prim-yellow);
  color: var(--high-black);
  border-radius: 16px;
  border-style: none;
  font-weight: bold;
}

header {
  display: flex;
  color: var(--high-black);
  padding: 1em 0;
}

img {
  max-width: 100%;
}

header img {
  width: 200px;
}

nav {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 2em 0;
}

#hero {
  background-color: var(--prim-green);
}

#hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

#hero img {
  width: 325px;
  border-radius: 16px;
}

#hero p,
#hero h2 {
  color: var(--high-white);
}

.specials-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.card {
  background-color: var(--high-white);
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  max-width: 265px;
}

.card h4 {
  font-size: 18px;
}

.card p {
  font-size: 16px;
}

.card img {
  width: 265px;
  height: 185px;
  object-fit: cover;
}

.card-body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  background-color: var(--prim-green);
  color: var(--high-white);
  padding: 2em 0;
}

footer a {
  color: var(--high-white);
}

footer .container {
  display: flex;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

footer img {
  width: 100px;
}

footer ul {
  list-style: none;
  margin-top: 1em;
}
