@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap');

:root {
  /*primary colors*/
  --prim-green: #495e57;
  --prim-yellow: #f4ce14;

  /*secondary colors*/
  --sec-pink: #ee9972;
  --sec-light-pink: #fbdabb;

  /*hightlight colors*/
  --high-white: #edefee;
  --high-black: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 887px;
  max-width: 80%;
  margin: 0 auto;
}

button {
  padding: 1rem 2rem;
  background-color: var(--prim-yellow);
  color: var(--high-black);
  border-radius: 16px;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 16pt;
}

header {
  display: flex;
  color: var(--high-black);
  padding: 1em 0;
}

img {
  max-width: 100%;
}

header img {
  width: 200px;
}

nav {
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 2em 0;
}

#hero {
  background-color: var(--prim-green);
}

#hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

#hero img {
  width: 325px;
  border-radius: 16px;
  justify-self: end;
}

#hero p,
#hero h2 {
  color: var(--high-white);
}

#hero h2 {
  margin-bottom: 0.5rem;
}

#hero button {
  margin-top: 2em;
}

.specials-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.specials-heading button {
  flex-grow: 0;
  align-self: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.card {
  background-color: var(--high-white);
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  max-width: 265px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 265px;
  height: 185px;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.card-heading {
  display: flex;
  justify-content: space-between;
}

.card span {
  color: var(--sec-pink);
  font-weight: 500;
}
.card-body p {
  flex-grow: 1;
}

.testimonials {
  background-color: var(--prim-green);
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
  color: var(--high-white);
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding-bottom: 4em;
}

.testimonial-card {
  display: grid;
  grid-template-areas:
    'rating rating'
    'img name'
    'review review';
  grid-auto-rows: max-content;
  padding: 1em;
  background-color: var(--high-white);
}

.testimonial-card span {
  grid-area: rating;
}

.testimonial-card img {
  grid-area: img;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-card h4 {
  grid-area: name;
  align-self: center;
  margin-left: 1em;
}

.testimonial-card p {
  grid-area: review;
  margin-top: 1em;
}

.testimonial-card p:before {
  content: open-quote;
}

.testimonial-card p:after {
  content: close-quote;
}

.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about img {
  width: 272px;
  height: 338px;
  object-fit: cover;
}

.about-imgs {
  position: relative;
}

#img1 {
  margin-top: 4em;
  object-position: right;
}

#img2 {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0.25em;
}

.about-text {
  padding-right: 2em;
  align-self: center;
}

.about-text h3 {
  margin-bottom: 0.5em;
}

footer {
  background-color: var(--prim-green);
  color: var(--high-white);
  padding: 2em 0;
}

footer a {
  color: var(--high-white);
}

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer article {
  margin-left: 2em;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 1rem;
}

footer nav {
  margin-top: 0;
}

footer img {
  width: 162px;
  height: 279px;
  object-fit: cover;
}

footer ul {
  list-style: none;
  flex: 1;
}
