@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap');

body {
  margin: 0px;
  font-family: 'Karla';
  font-size: 16pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Markazi Text';
}

h1 {
  color: var(--prim-yellow);
  font-size: 64pt;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: 26pt;
}

.card-title {
  font-size: 18pt;
  font-weight: bold;
}

.card-p {
  font-size: 16pt;
  line-height: 1.5;
  max-width: 65ch;
}
